
* {
    box-sizing: border-box;
}
body{
    /* background-color: #d8d82b; */
    /* border: 0px; */
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading{
    height: 60vh;
    width: 100vw;
    margin: 0px;
    background-color: white;     
    background-image: url("./images/muhammad-ruqi-yaddin-bAfXn5sNkjY-unsplash.jpg");

}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.row{
    height: 50vh;
    width: minmax(100px,auto);
    /* background-color: #aaa; */
}
.long-row{
    grid-column: 1/3;
}
.box{
    display: inline-block;
    
}
.nested_1{
    display: grid;
}
.nested_2{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.nested_4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.image-box{
    width: 100%;
    height: 100%;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
}
.image-box-2{
    width: auto;
    height: 100%;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
}
.img-text{
    font-size: xx-large;
    font-weight: bold;
    text-align: end;
    color: white;
    padding: 0%;
}
.text{
    color: black;
    background-color: white;
    padding: 10%;
}
.text-special{
    color: white;
    background-color: rgb(247, 78, 78);
    padding: 1.5em;
}
.para-bold{
    color: gray;
    font-size: x-large;
}
.col{
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    text-align: center;
    width: 80%;
}
#img1{
    background-image: url("./images/alex-gruber-XKPfFaF5OKQ-unsplash.jpg");
}

#img2{
    background-image: url("./images/c.jpg");
}
#img3{
    background-image: url("./images/carnaby-gilany-8V1hcDUnqiI-unsplash.jpg");
}
#img4{
    background-image: url("./images/pawel-czerwinski-EXZ4MUQENuE-unsplash.jpg");
}
#img5{
    background-image: url("./images/jean-carlo-emer-LZupxdthqxE-unsplash.jpg");
}
#img6{
    background-image: url("./images/muhammad-ruqi-yaddin-bAfXn5sNkjY-unsplash.jpg");
}
#img7{
    background-image: url("./images/rashid-u5MGQFelbIM-unsplash.jpg");
}
#img8{
    background-image: url("./images/ryan-klaus-X68I8-sORik-unsplash.jpg");
}
#img9{
    background-image: url("./images/split.jpg");
}
#img10{
    background-image: url("./images/tarek-correa-8DlV8uw3tsg-unsplash.jpg");
}
#img11{
    background-image: url("./images/tessa-wilson-m05RYm1JIUs-unsplash.jpg");
}
#img12{
    background-image: url("./images/andrew-haimerl-VfDND279SEQ-unsplash.jpg");
}
#img13{
    background-image: url("./images/vitor-monthay-LPr8EAf8XDE-unsplash.jpg");
}
#img14{
    background-image: url("./images/jacob-vizek-kVOq8w-zH_Q-unsplash.jpg");
}
#img15{
    background-image: url("./images/xps-uWFFw7leQNI-unsplash.jpg");
}
#img16{
    background-image: url("./images/jon-tyson-16cYDYYWlxQ-unsplash.jpg");
}
#img17{
    background-image: url("./images/solen-feyissa-sNTWAXa5_hM-unsplash.jpg");
}
#img18{
    background-image: url("./images/steven-cordes-BfMeamV6v68-unsplash.jpg");
}
